.App {
  text-align: center;
}

.header {
  color: rgb(97, 49, 219);
  font-size: 40px;
  
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 24px;
}

.basic{
    color: blue;
    font-size: 80px;
}