.App {
  text-align: center;
}

.header {
  color: aqua;
  font-size: 50px;
  padding: 20px;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 10px;
}

.header nav ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 24px;
}
